#title {
  position: inherit;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: maroon;
  text-decoration: underline;
  text-align: center;
}

#recipe-image {
  position: inherit;
  color: initial;
  border-radius: 30px;
  box-shadow: 4px 2px 20px;
  width: 520px;
  height: 350px;
  margin-top: 4%;
  margin-left: 21%;
}

#recipe-container{
  background-color: beige;
  border-radius: 10px;
  color: maroon;
  padding: 25px;
  width: 900px;
  height: auto;
  margin-top: 20px;
  margin-left: 280px;
}